.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* If applying gradient to every column, use this class on each td */
.table-column:nth-child(1) { /* Apply to the first column */
  background: linear-gradient(to bottom, #e0f7fa, #00bcd4); /* Lighter blue */
}

.table-column:nth-child(2) { /* Apply to the second column */
  background: linear-gradient(to bottom, #b3e5fc, #03a9f4); /* Darker blue */
}

nav {
  background-color: #f0f0f0;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

